<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>InitServlet</servlet-name>
  	<servlet-class>nick.pack.servlets.InitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignIn</servlet-name>
  	<jsp-file>/authorize.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Authorize</servlet-name>
  	<servlet-class>nick.pack.servlets.AuthorizeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<jsp-file>/main.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Error</servlet-name>
  	<jsp-file>/errAuthorize.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<jsp-file>/registration.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<servlet-class>nick.pack.servlets.SignUpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginErrorRegist</servlet-name>
  	<jsp-file>/loginErrorRegistration.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>PasswordErrorRegist</servlet-name>
  	<jsp-file>/passwordErrorRegistration.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>AddNoteServlet</servlet-name>
  	<servlet-class>nick.pack.servlets.AddNoteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditNoteServlet</servlet-name>
  	<servlet-class>nick.pack.servlets.EditNoteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNoteServlet</servlet-name>
  	<servlet-class>nick.pack.servlets.DeleteNoteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>nick.pack.servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResultSearch</servlet-name>
  	<jsp-file>/searchResult.jsp</jsp-file>
  </servlet>
  
  
  
  
  
  <servlet-mapping>
  	<servlet-name>InitServlet</servlet-name>
  	<url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Authorize</servlet-name>
  	<url-pattern>/authorize</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Main</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Error</servlet-name>
  	<url-pattern>/err</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/sign_up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/registr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginErrorRegist</servlet-name>
  	<url-pattern>/loginerreg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordErrorRegist</servlet-name>
  	<url-pattern>/passworderregist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNoteServlet</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditNoteServlet</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNoteServlet</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResultSearch</servlet-name>
  	<url-pattern>/result</url-pattern>
  </servlet-mapping>
  
</web-app>
